@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Source+Code+Pro:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* layer directive provided by tailwind that allows you to inject styles into whichever area you want */
@layer base {
	body {
		@apply font-sansSerif;
	}

	label {
		@apply block font-sansSerif text-base font-bold text-monsoon;
	}

	/* add all these styles to the input[typ='text]:not(.search) EXCEPT for the one with the class of 'search */
	input[type='text']:not(.search):not(.line-item),
	input[type='number']:not(.line-item),
	input[type='date'],
	input[type='password'],
	input[type='email'] {
		@apply h-10 lg:h-14 w-full rounded-lg border-2 border-silver px-4 font-sansSerif text-base;
	}

	textarea {
		@apply h-32 w-full rounded-lg border-2 border-silver p-4 font-sansSerif text-base;
	}

	select {
		@apply h-10 lg:h-14 w-full appearance-none rounded-lg border-2 border-silver bg-chevronDown bg-right-center bg-no-repeat px-4 lg:p-4;
	}

	/* add focus area to be more accessible */
	select:focus,
	textarea:focus,
	input[type='text']:not(.search):not(.line-item):focus,
	input[type='number']:not(.line-item):focus,
	input[type='date']:focus,
	input[type='password']:focus,
	input[type='email']:focus {
		@apply border-2 border-lavenderIndigo outline-none;
	}

	input[type=number]:disabled {
		@apply appearance-none;
		-moz-appearance: textfield;
	}

	/* sets the svg fill color to whatever the current text color is */
	svg {
		@apply fill-current;
	}
}

@layer components {
	.invoice-table {
		@apply mb-3 grid w-full grid-cols-invoiceTableMobile gap-x-4 px-4 lg:grid-cols-invoiceTable lg:px-6;
	}

	.invoice-line-item {
		@apply grid sm:grid-cols-invoiceLineItem gap-5 relative;
		grid-template-areas: "description description description"
		"unitPrice qty amount";
	}

	@media (min-width: 640px) {
		.invoice-line-item {
			grid-template-areas: "description unitPrice qty amount trash"
		}

	}
	
	@media print {
		.invoice-line-item {
			grid-template-areas: "description unitPrice qty amount trash"
		}
	}
	
	.invoice-line-item .description {
		grid-area: description;
	}

	.invoice-line-item .unitPrice {
		grid-area: unitPrice;
	}

	.invoice-line-item .qty {
		grid-area: qty;
	}

	.invoice-line-item .amount {
		grid-area: amount;
	}

	.invoice-line-item .trash {
		@apply absolute top-0 right-0 sm:relative;
		grid-area: trash;
	}

	.client-table {
		@apply grid grid-cols-clientTableMobile lg:grid-cols-clientTable mb-3 w-full gap-x-4 px-4 lg:px-6;
	}
	
	.field {
		@apply mb-6;
	}

	.button {
		@apply flex items-center relative whitespace-nowrap rounded-lg px-5 lg:px-10 py-2 lg:py-3 font-sansSerif text-base lg:text-xl font-black
	}
}

@layer utilities {
	.center {
		@apply flex items-center justify-center;
	}
}
