@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Source+Code+Pro:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* layer directive provided by tailwind that allows you to inject styles into whichever area you want */
@layer base {
	body {
		@apply font-sansSerif;
	}

	label {
		@apply block font-sansSerif text-base font-bold text-monsoon;
	}

	/* add all these styles to the input[typ='text]:not(.search) EXCEPT for the one with the class of 'search */
	input[type='text']:not(.search),
	input[type='number'],
	input[type='date'],
	input[type='password'],
	input[type='email'] {
		@apply h-14 w-full rounded-lg border-2 border-silver px-4 font-sansSerif text-base;
	}

	textarea {
		@apply h-32 w-full rounded-lg border-2 border-silver p-4 font-sansSerif text-base;
	}

	select {
		@apply h-14 w-full appearance-none rounded-lg border-2 border-silver bg-chevronDown bg-right-center bg-no-repeat p-4;
	}

	/* add focus area to be more accessible */
	select:focus,
	textarea:focus,
	input[type='text']:not(.search):focus,
	input[type='number']:focus,
	input[type='date']:focus,
	input[type='password']:focus,
	input[type='email']:focus {
		@apply border-2 border-lavenderIndigo outline-none;
	}

	/* sets the svg fill color to whatever the current text color is */
	svg {
		@apply fill-current;
	}
}

@layer components {
	.invoice-table {
		@apply mb-3 grid w-full grid-cols-invoiceTableMobile gap-x-4 px-4 lg:grid-cols-invoiceTable lg:px-6;
	}

	.field {
		@apply mb-6;
	}
}

@layer utilities {
	.center {
		@apply flex items-center justify-center;
	}
}
